html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
}