.feature-item {
    position: relative;
    padding-bottom: 4rem;

    @mixin atSmall {
        padding-left: 9.4rem;

        &__img {
            position: absolute;
            left: 0;
        }

    }

    &__img {
        margin: 0 auto 2rem auto;
    }

    &__title {
        font-size: 3rem;
        font-weight: 300;
        margin-bottom: .8rem;
    }

}