.row {

    @mixin clearfix;

    &__b-margin-until-medium {
        margin-bottom: 3rem;
    }

    @mixin atMedium {

        &__b-margin-until-medium {
            margin-bottom: 0;
        }
        
        &--gutters {
            @mixin gridGutter;

            &-large {
                @mixin gridGutter 10rem;
            }
        }

        &__medium-1 {width: 8.33%;}
        &__medium-2 {width: 16.66%;}
        &__medium-3 {width: 25%;}
        &__medium-4 {width: 33.33%;}
        &__medium-5 {width: 41.66%;}
        &__medium-6 {width: 50%;}
        &__medium-7 {width: 58.33%;}
        &__medium-8 {width: 66.66%;}
        &__medium-9 {width: 75%;}
        &__medium-10 {width: 83.33%;}
        &__medium-11 {width: 91.66%;}
        &__medium-12 {width: 100%;}

        &__medium-4--larger {width: 37%;}
        &__medium-8--smaller {width: 63%;}
    }

}